@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {   
  :focus-visible {
      @apply ring-2 dark:ring-purple-200 ring-purple-400 outline-none
    }
    
  ::selection {
      @apply text-white bg-purple-400
  }

  html {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      
      @media (max-width: 640px) {
          font-size: 87.5%;
      }

  }

  body {
    @apply bg-white dark:bg-black text-black dark:text-white
  }

::-webkit-scrollbar {
      width: 0.375rem;
      height: 0.375rem;
    }

::-webkit-scrollbar-track {
      @apply bg-transparent bg-black
    }
 
::-webkit-scrollbar-thumb {
      @apply bg-purple-400 rounded-lg 
  }
  
::-webkit-scrollbar-thumb:hover {
      @apply bg-purple-500
  }



}